<%= form_for([@college, @workshop]) do |f| %>
<% if @workshop.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@workshop.errors.count, "error") %>
        prohibited this workshop from being saved:</h2>

    <ul>
        <% @workshop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
</div>
<div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
</div>
<div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
</div>
<div class="field">
    <%= f.label :students_count %><br>
    <%= f.text_field :students_count %>
</div>
<div class="field">
    <%= f.label :fee %><br>
    <%= f.radio_button :fee, "Honor" %>
    Honor
    <%= f.radio_button :fee, "PerHead" %>
    Per Head
</div>
<div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
</div>
<%= f.hidden_field :college_id, value: @college.id %>

<div class="field">
    <%= f.label :workshop_type_id %><br>
    <%= f.collection_select :workshop_type_id, WorkshopType.all, :id, :name, prompt: "Select Workshop Type" %>
</div>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>
