<p id="notice"><%= notice %></p>
<div class="alert alert-default" role="alert">
    <p>
        <strong>Name:</strong>
        <%= @workshop.name %>
    </p>

    <p>
        <strong>Start date:</strong>
        <%= @workshop.start_date %>
    </p>

    <p>
        <strong>End date:</strong>
        <%= @workshop.end_date %>
    </p>

    <p>
        <strong>Students count:</strong>
        <%= @workshop.students_count %>
    </p>

    <p>
        <strong>Amount:</strong>
        <%= @workshop.amount %>
    </p>

    <p>
        <strong>Fee:</strong>
        <%= @workshop.fee %>
    </p>

    <p>
        <strong>College:</strong>
        <%= @workshop.college.try(:name) %>
    </p>

    <p>
        <strong>Workshop type:</strong>
        <%= @workshop.workshop_type.try(:name) %>
    </p>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Listing Students for this workshop :
        <%= @workshop.students.count %></div>
    <%= link_to workshop_path(@workshop.id, format: "xls"), class: "btn btn-info btn-sm pull-right" do %>
    <span class="glyphicon glyphicon-download-alt"></span>
    Export to Excel
    <% end %>
    <%= link_to workshop_path(@workshop.id, format: "pdf"), class: "btn btn-success btn-sm pull-right" do %>
    <span class="glyphicon glyphicon-download-alt"></span>
    Export to Pdf
    <% end %>
    <script>
        $(document).ready(function () {
            $('#students').DataTable();
        });
    </script>
    <table class="table table-striped" id="students">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>College code</th>
                <th>Beneficial</th>
                <th>Feedback</th>
                <th>Join</th>
                <th>Consultant</th>
                <th>Technology</th>
            </tr>
        </thead>

        <tbody>
            <% @workshop.students.each do |student| %>
            <tr>
                <td><%= student.name %></td>
                <td><%= student.email %></td>
                <td><%= student.mobile %></td>
                <td><%= student.college.name %></td>
                <td><%= student.beneficial %></td>
                <td><%= student.feedback %></td>
                <td><%= student.joining %></td>
                <td><%= student.consult %></td>
                <td><% student.technologies.each do |technology| %>
                    <%= technology.name %>
                    <% end %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<div class="alert alert-info" role="alert">
    <h4>Stats For Beneficial</h4>
</div>

<% data = {}
  data["beneficial"] = @workshop.students.where('beneficial = ?', true).count
  data["not_beneficial"] = @workshop.students.where('beneficial = ?', false).count
%>
<div class="alert alert-danger" role="alert">
    Students Not felt Beneficial:-

    <%= @workshop.students.where('beneficial = ?', false).count %>/
    <%= @workshop.students.count %>

</div>
<% @workshop.students.where('beneficial = ?', false).each do |stu| %>
<li>
    <%= stu.name %>
</li>
<% end %>

<%= pie_chart(data) %><br/>
<div class="alert alert-info" role="alert">
    <h4>
        Stats For Joining
    </h4>
</div>
<% data1 = {}
    data1["Wanted to Join"] = @workshop.students.where('joining = ?', true).count
    data1["Not Willing"] = @workshop.students.where('joining = ?', false).count
  %>
<%= pie_chart(data1) %><br/>
<div class="alert alert-info" role="alert">
    <h4>
        Stats For Technologies
    </h4>
</div>
<% data2 = {}
    Technology.all.each do |technology|

      data2[technology.name] = technology.students.where('workshop_id = ?', @workshop.id).count
    end
    %>
<%= pie_chart(data2) %>
<%= column_chart(data2) %>

<%= link_to 'Edit', edit_workshop_path(@workshop) %>
|
<%= link_to 'Back', workshops_path %>
