<table class = "table table-striped" id="students">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>College code</th>
      <th>Beneficial</th>
      <th>Feedback</th>
      <th>Join</th>
      <th>Consultant</th>
      <th>Suggestion</th>

      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.email %></td>
        <td><%= student.mobile %></td>
        <td><%= student.college %></td>
        <td><%= student.beneficial %></td>
        <td><%= student.feedback %></td>
        <td><%= student.joining %></td>
        <td><%= student.consult %></td>
        <td><%= student.suggestion %></td>

        <!-- <td><%= link_to 'Show', student %></td> -->

      </tr>
    <% end %>
  </tbody>
</table>
