<script>
    sweetAlert("<%= notice %>");
</script>
<% if user_signed_in? %>
<% if current_user.is_admin? %>
<p>
    <strong>Name:</strong>
    <%= @student.name %>
</p>

<p>
    <strong>Email:</strong>
    <%= @student.email %>
</p>

<p>
    <strong>Mobile:</strong>
    <%= @student.mobile %>
</p>

<p>
    <strong>College code:</strong>
    <%= @student.college %>
</p>

<p>
    <strong>College or University:</strong>
    <%= @student.university %>
</p>

<p>
    <strong>Beneficial:</strong>
    <%= @student.beneficial %>
</p>

<p>
    <strong>Feedback:</strong>
    <%= @student.feedback %>
</p>

<p>
    <strong>Join:</strong>
    <%= @student.joining %>
</p>

<p>
    <strong>Consultant:</strong>
    <%= @student.consult %>
</p>

<p>
    <strong>Suggestion:</strong>
    <%= @student.suggestion %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %>
|
<%= link_to 'Back', students_path %>
<% else %>
<% redirect_to new_student_path %>
<% end %>
<% end %>
