<h3>Add User</h3>

<%= form_for @user do |f| %>
<div class="form-group">
    <%= f.label :email %><br/>
    <%= f.email_field :email, class: "form-control" %><br/>
</div>
<div class="form-group">
    <%= f.label :password %><br/>
    <%= f.text_field :password, class: "form-control" %><br/>
</div>

<%= f.label :college %><br/>
<%= f.collection_select :college_id, College.all, :id, :name, prompt: "Select the college" %><br/>

<%= f.label :roles %><br/>
<%= f.collection_check_boxes :role_ids, Role.all, :id, :name %><br/>

<%= f.submit %>
<% end %>
