<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-9">
<p>
  <strong>Name:</strong>
  <%= @college.name %>
</p>
<p>
  <strong>College Code</strong>
  <%= @college.code %>
</p>
<p>
  <strong>Number of Workshops :- </strong>
  <%= @college.workshops.count %>
</p>
<div class="panel panel-primary">
  <div class="panel-heading"><h3>Listing Workshops For this College <%= @college.workshops.count %></h3></div>
  <div class="panel-body">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Students count</th>
      <th>Amount</th>
      <th>Fee</th>
      <th>Workshop type</th>
    </tr>
  </thead>

  <tbody>
    <% @college.workshops.each do |workshop| %>
      <tr>
        <td><%= link_to workshop.name, workshop_path(workshop.id) %></td>
        <td><%= workshop.start_date %></td>
        <td><%= workshop.end_date %></td>
        <td><%= workshop.students_count %></td>
        <td><%= workshop.amount %></td>
        <td><%= workshop.fee %></td>
        <td><%= workshop.workshop_type.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
<div class="col-md-3">

<h3>Add Workshop</h3>


<%= render '/workshops/form' %>



</div>
<div class="col-md-12">
  <div class="panel panel-success">
    <div class="panel-heading"><h3>Listing Students Of this College <%= @college.students.count %></h3></div>
    <div class="panel-body">
      <%= link_to college_path(@college.id, format: "xls"), class: "btn btn-info btn-sm pull-right" do %>
      <span class = "glyphicon glyphicon-download-alt"></span> Export to Excel
      <% end %>
      <%= link_to college_path(@college.id, format: "pdf"), class: "btn btn-info btn-sm pull-right" do %>
      <span class = "glyphicon glyphicon-download-alt"></span> Export to Pdf
      <% end %>
      <script>
      $(document).ready(function(){
          $('#students').DataTable();
      });
      </script>
      <table class = "table table-striped" id="students">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>College</th>
            <th>Beneficial</th>
            <th>Join</th>
            <th>Consultant</th>
            <th>Suggestion</th>

            <!-- <th colspan="3"></th> -->
          </tr>
        </thead>

        <tbody>
          <% @college.students.each do |student| %>
            <tr>
              <td><%= student.name %></td>
              <td><%= student.email %></td>
              <td><%= student.mobile %></td>
              <td><%= student.college.name %></td>
              <td><%= student.beneficial %></td>
              <td><%= student.joining %></td>
              <td><%= student.consult %></td>
              <td><%= student.suggestion %></td>

              <!-- <td><%= link_to 'Show', student %></td> -->

            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  </div>
</div>
</div>


<%= link_to 'Edit', edit_college_path(@college) %> |
<%= link_to 'Back', colleges_path %>
