<p id="notice"><%= notice %></p>
<div class="row">
    <div class="col-md-9">
        <div class="alert alert-success" role="alert">
            <class="alert-link">
                <p>
                    <strong>Name:</strong>
                    <%= @college.name %>
                </p>

                <p>
                    <strong>College Code</strong>
                    <%= @college.code %>
                </p>

                <p>
                    <strong>Number of Workshops :-
                    </strong>
                    <%= @college.workshops.count %>
                </p>
            </a>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>Listing Workshops For this College :-
                    <%= @college.workshops.count %></h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Students count</th>
                            <th>Amount</th>
                            <th>Fee</th>
                            <th>Workshop type</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @college.workshops.each do |workshop| %>
                        <tr>
                            <td><%= link_to workshop.name, workshop_path(workshop.id) %></td>
                            <td><%= workshop.start_date %></td>
                            <td><%= workshop.end_date %></td>
                            <td><%= workshop.students_count %></td>
                            <td><%= workshop.amount %></td>
                            <td><%= workshop.fee %></td>
                            <td><%= workshop.workshop_type.try(:name) %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <br/><br/><br/><br/>
        <% if @college.users.empty?%>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Warning!</strong>
            <h5>
                No users,
                <span class="label label-primary"><%= link_to "Click here", new_user_path %></span>
                to Add
            </h5>
        </div>

    <% else %>
        <ul>
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>
                    <h6>Admin of college</h6>

                </strong>
                <h5>
                    <% @college.users.each do |user| %>
                    <li><%= user.email %></li><br/>
                    <% end %></h5>
            </div>

            <% end %>
        </ul>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Add Workshop
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Add Workshop
                        </h4>
                    </div>
                    <div class="modal-body">

                        <%= form_for([@college, @workshop]) do |f| %>
                        <% if @workshop.errors.any? %>
                        <div id="error_explanation">
                            <h2><%= pluralize(@workshop.errors.count, "error") %>
                                prohibited this workshop from being saved:</h2>

                            <ul>
                                <% @workshop.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                                <% end %>
                            </ul>
                        </div>
                        <% end %>
                        <div class="form-group">
                            <div class="field">
                                <%= f.label :name %><br>
                                <%= f.text_field :name, class: "form-control" %>
                            </div>
                        </div>
                        <script>
                            $(function () {
                                var dateFormat = "mm/dd/yy",
                                    from = $("#start_date_picker").datepicker({defaultDate: "+1w", changeMonth: true, numberOfMonths: 1}).on("change", function () {
                                        to.datepicker("option", "minDate", getDate(this));
                                    }),
                                    to = $("#end_date_picker").datepicker({defaultDate: "+1w", changeMonth: true, numberOfMonths: 1}).on("change", function () {
                                        from.datepicker("option", "maxDate", getDate(this));
                                    });

                                function getDate(element) {
                                    var date;
                                    try {
                                        date = $.datepicker.parseDate(dateFormat, element.value);
                                    } catch (error) {
                                        date = null;
                                    }

                                    return date;
                                }
                            });
                        </script>
                        <div class="form-group">
                            <div class="field">
                                <%= f.label :from_date %><br>
                                <%= f.text_field :start_date, id: "start_date_picker", class: "form-control" %>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="field">
                                <%= f.label :To_date%><br>
                                <%= f.text_field :end_date, id: "end_date_picker", class: "form-control" %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field">
                                <%= f.label :students_count %><br>
                                <%= f.text_field :students_count, class: "form-control" %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field">
                                <%= f.label :fee %><br>
                                <%= f.radio_button :fee, "Honor"  %>
                                Honor
                                <%= f.radio_button :fee, "PerHead" %>
                                Per Head
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field">
                                <%= f.label :amount %><br>
                                <%= f.text_field :amount, class: "form-control" %>
                            </div>
                        </div>
                        <%= f.hidden_field :college_id, value: @college.id %>

                        <script>
                            $(document).ready(function () {
                                $("#workshop_workshop_type_id").chosen({width: "inherit"});
                            })
                        </script>

                        <div class="form-group">
                            <div class="field">
                                <%= f.label :workshop_type_id %><br>
                                <%= f.collection_select :workshop_type_id, WorkshopType.all, :id, :name, prompt: "Select Workshop Type"  %>
                            </div>
                        </div>
                        <div class="actions">
                            <%= f.submit %>
                        </div>
                        <% end %>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>Listing Students Of this College :-
                    <%= @college.students.count %></h3>
            </div>
            <div class="panel-body">
                <%= link_to college_path(@college.id, format: "xls"), class: "btn btn-info btn-sm pull-right" do %>
                <span class="glyphicon glyphicon-download-alt"></span>
                Export to Excel
                <% end %>
                <%= link_to college_path(@college.id, format: "pdf"), class: "btn btn-success btn-sm pull-right" do %>
                <span class="glyphicon glyphicon-download-alt"></span>
                Export to Pdf
                <% end %>
                <script>
                    $(document).ready(function () {
                        $('#students').DataTable();
                    });
                </script>
                <table class="table table-striped" id="students">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>College</th>
                            <th>Beneficial</th>
                            <th>Join</th>
                            <th>Consultant</th>
                            <th>Suggestion</th>
                            <th>Action</th>

                            <!-- <th colspan="3"></th> -->
                        </tr>
                    </thead>

                    <tbody>
                        <% @college.students.each do |student| %>
                        <tr>
                            <td><%= student.name %></td>
                            <td><%= student.email %></td>
                            <td><%= student.mobile %></td>
                            <td><%= student.college.name %></td>
                            <td><%= student.beneficial %></td>
                            <td><%= student.joining %></td>
                            <td><%= student.consult %></td>
                            <td><%= student.suggestion %></td>
                            <td><%= link_to 'Edit', edit_student_path(student) %></td>

                            <!-- <td><%= link_to 'Show', student %></td> -->

                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<%= link_to 'Edit', edit_college_path(@college) %>
|
<%= link_to 'Back', colleges_path %>
